body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #f3f3f3;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin: 0 10px;
}

#navbar ul li a {
    text-decoration: none;
    color: #333;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery-img {
    margin: 10px;
    border: 5px solid #f3f3f3;
    transition: transform .2s;
}

.gallery-img:hover {
    transform: scale(1.1);
}
